.about-us {
  @include center;
  @include margin-auto;
  background-color: #edeff6;
}

.about-us__container {
  @include bgIndexColor;
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  background-image: url("../img/about-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 95%;
  z-index: 1;
}

.about-us__wrapper {
  width: 74%;
  padding-top: 10px;
}

.about-us h2 {
  @include fontBS (24px, bold, #ff8d30);
  margin-bottom: 23px;
}

.about-us p {
  @include fontBS (16px, 300, #ffffff);
  line-height: 1.38;
  margin-bottom: 17px;
  opacity: 0.8;
}

.about-us b {
  @include fontBS (16px, bold, #ffffff);
  line-height: 1.38;
  display: block;
  margin-bottom: 83px;
}

.about-us__button {
  @include fontBS (24px, bold, #1d2e5b);
  align-self: flex-start;
  display: none;
  width: 45%;
  min-height: 81px;
  margin: 0;
  margin-bottom: 88px;
  border-radius: 10px;
  background-color: $indexButton;
  text-decoration: none;
  vertical-align: middle;
  padding-left: 25px;
  padding-right: 25px;
}

.about-us__button::after {
  content: "";
  display: inline-block;
  width: 10px;
  min-height: 14px;
  background-image: url("/img/triangle-arrow-right.svg");
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: $tablet-width) {
  .about-us {
    position: relative;
  }

  .about-us::before {
    content: "";
    width: 404px;
    height: 548px;
    right: 0;
    bottom: 85px;
    z-index: 3;
    position: absolute;
    background-image: url("../img/about-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 95%;
  }

  .about-us__container {
    position: relative;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    background-image: none;
  }

  .about-us__container::before {
    content: "";
    position: absolute;
    width: 688px;
    height: 213px;
    background-color: #141b3b;
    z-index: -1;
    left: 25px;
  }

  .about-us__wrapper {
    width: 80%;
    padding-top: 57px;
  }

  .about-us h2 {
    font-size: 45px;
    margin-bottom: 45px;
  }

  .about-us p {
    width: 55%;
    font-size: 28px;
    margin-bottom: 29px;
    line-height: 1.18;
  }

  .about-us b {
    width: 55%;
    font-size: 21px;
    margin-bottom: 57px;
    line-height: 1.19;
  }

  .about-us__wrapper .about-us__button {
    width: 44%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    margin-bottom: 85px;
  }
}

// --------------------------для пк ------------------------
@media (min-width: $desktop-width) {
  .about-us::before {
    background-image: url("../img/about-desktop@1x.png");
    width: 630px;
    height: 665px;
    right: 60px;
    bottom: 0;
    background-size: 100%;
  }

  .about-us::after {
    width: 630px;
    height: 204px;
    top: 0;
  }

  .about-us__container::before {
    width: 213px;
    height: 213px;
    left: 50px;
  }

  .about-us h2 {
    margin-bottom: 58px;
  }

  .about-us b {
    font-size: 21px;
  }

  .about-us__wrapper {
    width: 82%;
    padding-top: 10px;
  }

  .about-us .about-us__wrapper--text {
    width: 60%;
    margin-bottom: 40px;
  }

  .about-us__wrapper--text br {
    display: none;
  }

  .about-us__wrapper b {
    width: 40%;
    margin-bottom: 88px;
  }

  .about-us__container {
    padding-top: 80px;
  }

  .about-us__wrapper .about-us__button {
    width: 23%;
    border-radius: 20px;
    margin-bottom: 160px;
  }
}
