.autho {
  display: flex;
  align-items: center;
}

.autho-icon {
  display: flex;
  width: 45px;
  height: 45px;
  font-size: 0;
  flex-grow: 1;
}

.autho-icon span {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.autho__telephone span {
  background-color: #ff8d30;
  &:hover {
    background-color: #f26926;
  }
  &:active {
    opacity: 0.3;
  }
}

.autho__mail span {
  background-color: #ffbd30;
  &:hover {
    background-color: #ff8d30;
  }
  &:active {
    opacity: 0.3;
  }
}

.autho__button {
  @include fontBS(17px, bold, #161c35);
  text-transform: uppercase;
  width: 189px;
  height: 40px;
  border-radius: 20px;
  text-align: center;
  background-color: $indexButton;
  border: none;
}

.autho__contact--icon {
  fill: #161c35;
}

@media (min-width: $tablet-width) {
  .autho-icon {
    display: none;
  }

  .autho__contact--icon {
    width: 30px;
    height: 30px;
    fill: #161c35;
  }
}

// --------------------------для пк ------------------------
@media (min-width: $desktop-width) {
  .autho__button {
    min-height: 50px;
    font-size: 20px;
  }

  .autho-icon {
    display: flex;
  }

  .autho-icon span {
    width: 50px;
    min-height: 50px;
  }

  .autho__contact--icon {
    width: 18px;
    height: 14px;
  }
}
