
.autho {
  display: flex;
  align-items: center;
}

.autho-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  font-size: 0;
  background-color: #ff8d30;
  border-radius: 50%;
}

.autho__button {
  @include fontBS(17px, bold, #161c35);
  text-transform: uppercase;
  width: 189px;
  height: 40px;
  border-radius: 20px;
  text-align: center;
  background-color: $indexButton;
  border: none;
}

.autho__telephone {
  background-image: url("../img/topmenu-phone.svg");
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: center;
}

.autho__mail {
  background-image: url("../img/topmenu-mail.svg");
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: $tablet-width) {
  .autho-icon {
    display: none;
  }
}

// --------------------------для пк ------------------------
@media (min-width: $desktop-width) {
  .autho__button {
    min-height: 50px;
    font-size: 20px;
  }

  .autho-icon {
    display: inline-block;
    width: 50px;
    min-height: 50px;
  }
}
