.index-main {
  position: relative;
}

.index-button {
  @include margin-auto;
  @include fontBS(18px, bold, #1d2e5b);
  display: flex;
  align-items: center;
  width: 85%;
  min-height: 62px;
  border-radius: 10px;
  background-color: $indexButton;
  text-decoration: none;
  vertical-align: middle;
  padding-left: 25px;
  padding-right: 25px;
}

.index-button::after {
  content: "";
  width: 10px;
  height: 14px;
  display: inline-block;
  background-image: url("../img/triangle-arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  margin-left: auto;
}

@media (min-width: $tablet-width) {
  section .index-button {
    height: 81px;
    width: 80%;
    border-radius: 20px;
    font-size: 24px;
    letter-spacing: -1px;
    padding-right: 33px;
  }
}

// --------------------------для пк ------------------------
