.menu-autho {
  @include center;
  @include margin-auto;
  width: 100vw;
  background-color: white;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 27px;
  padding-left: 27px;
  padding-right: 27px;
}

.menu-autho__logo {
  align-self: flex-start;
  order: -1;
  width: 90%;
  min-width: 100px;
  min-height: 19px;
  font-size: 0;
  background-image: url("../img/logo-mobile-blue@1x.png");
  background-repeat: no-repeat;
}

.menu-autho__close {
  width: 19px;
  height: 19px;
  border: none;
  background-image: url("../img/menu-close.svg");
  align-self: flex-start;
  background-color: inherit;
  order: -1;
}

.menu-autho__us {
  @include margin-auto;
  width: 100%;
  height: 95px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 58px;
  margin-top: 120px;
  order: 0;
}

.menu-autho__us a {
  @include fontBS(30px, 500, #192144);
  text-transform: uppercase;
}

.menu-autho__item {
  @include fontBS (16px, bold, $color:#192144);
  @include center;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  text-transform: uppercase;
}

.menu-autho__item span {
  width: 45px;
  height: 45px;
  background-color: #121936;
  border-radius: 50%;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
}

.menu-autho__button {
  @include margin-auto;
  @include fontBS(18px, bold, #161c35);
  text-transform: uppercase;
  width: 270px;
  height: 50px;
  border-radius: 25px;
  background-color: $indexButton;
  text-decoration: none;
  text-align: center;
  margin-bottom: 51px;
  border: none;
}

.menu-autho__register {
  @include fontBS(16px, bold, #192144);
}

.menu-autho__register::before {
  content: " ";
  display: inline-block;
  width: 45px;
  height: 45px;
  margin-right: 16px;
  text-align: left;
  vertical-align: middle;
}

.menu-autho__register--telephone::before {
  content: "";
  display: inline-block;
  background-image: url("../img/contacts-phone.svg");
  // незаню как залить свг в бэкграунде
  fill-rule: green;
  background-repeat: no-repeat;
}

.menu-autho__register--mail::before {
  background-image: url("../img/contacts-mail.svg");
  background-repeat: no-repeat;
}

.menu-autho__contacts {
  @include center;
  width: 100%;
  align-items: flex-start;
  margin-bottom: 41px;
}

@media (min-width: $tablet-width) {
  .menu-autho {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 100px;
  }

  .menu-autho__button {
    width: 189px;
    margin: 0;
    order: -1;
  }

  .menu-autho__close {
    align-self: center;
    margin-right: auto;
  }

  .menu-autho__social {
    display: none;
  }

  .menu-autho__us {
    width: 368px;
    height: 186px;
    align-items: flex-start;
    margin-left: 99px;
  }

  .menu-autho__us a {
    font-size: 60px;
  }

  .menu-autho__contacts .register__contact {
    padding-left: 99px;
  }

  .menu-autho__social {
    padding-left: 62px;
  }

  .menu-autho__logo {
    margin-left: 0;
    width: 45%;
    height: 44px;
    font-size: 0;
    background-image: url("../img/logo-tablet-blue@1x.png");
  }

  .menu-autho__item span {
    width: 67px;
    height: 67px;
  }

  .menu-autho__item {
    font-size: 28px;
  }
}

@media (min-width: $desktop-width) {
  .menu-autho {
    display: none;
  }
}
