.page-header {
  width: 100%;
  min-height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #161c36;
  color: white;
  position: relative;
}

.page-header__wrapper {
  // display: none;
  display: flex;
  justify-content: center;
  padding-bottom: 291px;
}

.page-header__nav {
  display: none;
  width: 100%;
  flex-direction: column;
  background-color: white;
  padding-top: 79px;
}

.page-header__toggle {
  cursor: pointer;
  display: block;
  width: 31px;
  height: 11px;
  background-color: #161c36;
  border: none;
  font-size: 0;
  // list-style: none;
}

.page-header__slogan--wrapper {
  @include center;
}

.page-header__main {
  width: 100%;
  padding-left: 7%;
  padding-right: 7%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;
  // изменил мин-хейт для индекса мобайл
}

.page-header__logo {
  min-width: 100px;
  min-height: 19px;
  font-size: 0;
  background-repeat: no-repeat;
  background-size: 100px 19px;
  background-image: url("../img/logo-mobile-white@1x.png");

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/logo-mobile-white@2x.png");
  }
}

.page-header__autho {
  width: 100%;
  justify-content: center;
  position: absolute;
  bottom: -24px;
  z-index: 2;
}

.page-header__toggle--icon {
  fill: #ffffff;
}

.page-header__slogan h2 {
  @include fontBS (36px, bold, white);
  width: 87%;
  text-align: center;
  margin-top: 21px;
  line-height: 1.11;
}

.page-header__slogan {
  @include center;
  position: relative;
  max-width: 767px;
  padding-bottom: 238px;
  margin: 0 auto;
  background-image: url("../img/traveller-illustration-mobile@1x.png"), url("../img/globe-back-mobile@1x.jpg");
  background-position: bottom right 49px, bottom -99px center;
  background-size: 192px 256px, cover;
  // 320px 569px было так решил изменить// не могу понять почему auto не работает
  background-repeat: no-repeat, no-repeat;
  background-color: #161c36;
}

.page-header .explorer__autho {
  display: none;
  margin: 0;
}

.page-header__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 0;
}

.page-header__list a {
  @include reset-list;
  @include fontBS (30px, 500, #192144);
  text-transform: uppercase;
  line-height: 1.2;
}

.page-header__list li:first-child {
  display: none;
}

// ________________планшет____________________

@media (min-width: $tablet-width) {
  .index .page-header {
    background-color: #192144;
  }

  .page-header {
    flex-direction: row-reverse;
  }

  .page-header__main {
    width: 66.5%;
    justify-content: space-between;
    height: 133px;
    padding-right: 15%;
    padding-top: 1px;
    padding-left: 5%;
    margin-left: 0;

    @media (max-width: 1439px) {
      margin-right: auto;
    }
  }

  .page-header__autho {
    width: 33.5%;
    height: 133px;
    order: -1;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 1px;
    justify-content: center;
    position: static;
  }

  .page-header__autho .autho__button {
    height: 50px;
    text-transform: uppercase;
    border-radius: 25px;
    font-size: 20px;
  }

  .page-header__slogan {
    padding-bottom: 573px;
    background-image: url("../img/traveller-illustration-tablet@1x.png"), url("../img/globe-back-tablet@1x.jpg");
    background-position: bottom 139px right 112px, bottom center;
    background-size: 372px 451px, auto 610px;
    background-repeat: no-repeat, no-repeat;
    max-width: 1439px;
    background-color: #192144;
  }

  .page-header__slogan h2 {
    width: 59%;
    font-size: 60px;
    line-height: 1.16;
    letter-spacing: -2.8px;
  }

  .page-header__slogan--wrapper {
    display: flex;
    justify-content: center;
    padding-top: 5px;
  }

  .page-header__nav {
    margin-right: 10.5%;
    margin-left: auto;
  }

  .page-header__logo {
    margin-left: 0;
    width: 260px;
    height: 44px;
    font-size: 0;
    background-size: 165px 44px;
    background-image: url("../img/logo-tablet-white@1x.png");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/logo-tablet-white@2x.png");
    }
  }

  .page-header__list a {
    font-size: 60px;
    line-height: 1.18;
  }
}

// --------------------------для пк ------------------------

@media (min-width: $desktop-width) {
  .index .page-header,
  .page-header {
    background-color: #161c34;
    justify-content: space-between;
    padding-top: 41px;
  }

  .page-header__wrapper {
    display: block;
    width: auto;
    padding: 0;
    background-color: #161c34;
  }

  .page-header__list li:first-child {
    display: list-item;
  }

  .page-header__list a {
    font-size: 20px;
    line-height: 1.5;
    color: #ffffff;
  }

  .page-header__main {
    width: 15%;
    height: 52px;
    // если изменил высоту - проверь потом на каталоге
    padding-left: 0;
    padding-right: 0;
    margin-left: 6%;
  }

  .page-header__autho {
    width: 292px;
    justify-content: flex-start;
    order: -2;
    height: auto;
    margin-right: 4%;
  }

  .page-header__slogan {
    background-position: bottom right 410px, bottom left -180px;
    background-size: 431px 640px, 1800px 750px;
    justify-content: start;
    min-height: 640px;
    padding: 0;
    padding-top: 55px;
    max-width: 1440px;
    background-image: url("../img/traveller-illustration-desktop@1x.png"), url("../img/globe-back-desktop@1x.jpg");
  }

  .page-header__logo {
    margin-left: 0;
    width: 240px;
    height: 52px;
    font-size: 0;
    background-image: url("../img/logo-desktop-white@1x.png");
    background-size: 200px 52px;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/logo-desktop-white@2x.png");
    }
  }

  .page-header__toggle {
    display: none;
  }

  .page-header__nav {
    display: flex;
    width: 53%;
    justify-content: start;
    align-items: start;
    margin: 0;
    padding-top: 0;
    background-color: #161c34;
    order: -1;
  }

  .page-header__list {
    @include reset-list;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .page-header__list li {
    margin-right: 20px;
  }

  .page-header__slogan h2 {
    width: 37%;
    text-align: left;
    align-self: self-start;
    margin-top: 35px;
  }

  .page-header__slogan--wrapper {
    width: 85%;
    justify-content: start;
    padding-left: 15px;
  }
}
