.page-header {
  width: 100%;
  min-height: 73px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: $indexColor;
  color: white;
}

.page-header__wrapper {
  display: none;
}

.page-header__slogan--wrapper {
  @include center;
}

.page-header__main {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 73px;
}

.page-header__logo {
  font-size: 0;
}

.page-header__nav {
  width: 12%;
}

.page-header__toggle {
  display: block;
  width: 25px;
  height: 11px;
  background-color: inherit;
  // незнаю как залить свг
  border: none;
  font-size: 0;
  // list-style: none;
}

.page-header__toggle--icon {
  fill: #ffffff;
}

.page-header__slogan h2 {
  @include fontBS (36px, bold, white);
  width: 87%;
  text-align: center;
  margin-top: 21px;
}

.page-header__slogan {
  @include center;
  padding-bottom: 227px;
  max-width: 767px;
  margin: 0 auto;
  background-image: url("../img/traveller-illustration-mobile@1x.png"), url("../img/globe-back-mobile@1x.jpg");
  background-position: bottom right 49px, bottom -99px center;
  background-size: 192px 256px, 320px 569px;
  background-repeat: no-repeat, no-repeat;
}

.page-header__autho {
  margin-bottom: 30px;
}

.page-header .explorer__autho {
  display: none;
  margin: 0;
}

.page-header__list {
  @include reset-list;
}

.page-header__list a {
  @include reset-list;
  @include fontBS (20px, 500, #ffffff);
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .page-header {
    flex-direction: row-reverse;
  }

  .page-header__autho {
    // align-self: flex-end;
    order: -1;
    margin-bottom: 0;
  }

  .page-header__slogan {
    padding-bottom: 586px;
    background-image: url("../img/traveller-illustration-tablet@1x.png"), url("../img/globe-back-tablet@1x.jpg");
    background-position: bottom 140px right 112px, bottom center;
    background-size: 372px 451px, auto 610px;
    background-repeat: no-repeat, no-repeat;
  }

  .page-header__main {
    width: 66%;
  }

  .page-header__slogan h2 {
    width: 60%;
    font-size: 60px;
  }

  .page-header__slogan--wrapper {
    display: flex;
    justify-content: center;
  }

}

// --------------------------для пк ------------------------
@media (min-width: $desktop-width) {
  .page-header__wrapper {
    display: block;
    width: 80%;
  }

  .page-header__slogan {
    background-image: url("../img/traveller-illustration-desktop@1x.png"), url("../img/globe-back-desktop@1x.jpg");
    background-position: bottom right 410px, bottom left -180px;
    background-size: 431px 640px, 1800px 750px;
    justify-content: start;
    min-height: 640px;
    padding: 0;
    padding-top: 81px;
    max-width: 1440px;
  }

  .page-header__toggle {
    display: none;
  }

  .page-header__nav {
    width: 70%;
  }

  .page-header__list {
    display: flex;
    justify-content: space-between;
  }

  // временоо
  .page-header__logo img {
    width: 200px;
    height: 52px;
  }

  .page-header {
    min-height: 100px;
    justify-content: space-evenly;
  }

  .page-header__slogan h2 {
    width: 37%;
    text-align: left;
    align-self: self-start;
  }

  .page-header__slogan--wrapper {
    width: 85%;
    justify-content: start;
    padding-left: 15px;
  }
}
