.page-header {
  width: 100%;
  min-height: 73px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: $indexColor;
  color: white;
}

.page-header__wrapper {
  display: none;
}

.page-header__main {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 73px;
}

.page-header__logo {
  font-size: 0;
}

.page-header__nav {
  width: 20%;
}

.page-header__toggle {
  display: block;
  width: 25px;
  height: 11px;
  background-image: url("../img/menu.svg");
  background-color: inherit;
  // незнаю как залить свг
  border: none;
  font-size: 0;
  // list-style: none;
}


.page-header__slogan h2 {
  @include fontBS (36px, bold, white);
  width: 87%;
  text-align: center;
}

.page-header__slogan {
  @include center;
  padding-bottom: 247px;
  // max-width: 320px;
  margin: 0 auto;
  background-image: url("../img/traveller-illustration-mobile@1x.png"), url("../img/globe-back-mobile@1x.jpg");
  background-position: bottom right 49px, bottom -91px center;
  background-size: 192px 256px, 320px 569px;
  background-repeat: no-repeat, no-repeat;
}


.page-header__autho {
  margin-bottom: 30px;
}

.page-header__list {
  @include reset-list;
}

.page-header__list a {
  @include fontBS (20px, 500, #ffffff);
  text-transform: uppercase;
}
