.rate {
  @include center;
  @include margin-auto;
  background-color: #192144;
  min-height: 480px;
}

.rate-wrapper {
  @include center;
  @include margin-auto;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #edeff6;
  min-height: 480px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.rate h2 {
  @include fontBS(24px, bold, #ff8d30);
  width: 50%;
  margin-bottom: 31px;
}

// .rate__slogan h2::after {
//   content: "";
//   display: inline-block;
//   width: 99px;
//   height: 99px;
//   background-image: url("../img/rates@1x.png");
//   background-repeat: no-repeat;
//   background-size: 50%;
// }

.rate__list li {
  @include fontBS(16px, 300, #444444);
  display: flex;
  align-items: center;
  border-top: 1px solid #e2e5f2;
  border-bottom: 1px solid #e2e5f2;
  min-height: 65px;
}

.rate__list {
  width: 76%;
  margin-bottom: 31px;
}

.rate-wrapper .rate__button {
  @include fontBS(16px, bold, #192144);
  width: 100%;
  background-color: inherit;
  text-align: center;
  border: none;
  margin-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .rate-wrapper h2 {
    font-size: 45px;
  }

  .rate__list li {
    font-size: 28px;
    justify-content: space-between;
  }

  .rate-wrapper .rate__button {
    width: 50%;
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #132576;
    margin-left: 0;
    margin-right: 0;
  }

  // немогу найти такую в картинку
  .rate__button::before {
    content: "";
    display: inline-block;
    width: 67px;
    height: 67px;
    background-image: url("../img/business.svg");
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: center;
    border-radius: 50%;
    background-color: #e2e5f2;
    // Спросить у Даши -как сделать его синим
  }

  .rate__money {
    align-self: baseline;
    order: 3;
  }

  // .rate__prise {
  //   background-color: #e2e5f2;
  // }
}

// --------------------------для пк ------------------------
@media (min-width: $desktop-width) {
  .rate-wrapper {
    position: relative;
    padding-top: 66px;
    padding-bottom: 130px;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
  }

  .rate__money {
    order: 3;
    align-self: center;
    width: 198px;
    height: 198px;
  }

  .rate__button {
    order: 5;
  }

  .rate-wrapper h2 {
    text-align: center;
    margin-bottom: 120px;
  }

  .rate-wrapper .rate__button {
    width: 85%;
  }

  .rate-wrapper .index-button::after {
    display: none;
  }

  .rate__button::before {
    margin-right: 19px;
  }
}
