.rate-modal {
  @include center;
  @include margin-auto;
  width: 270px;
  background-color: white;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;

}

.rate-modal h2 {
  @include fontBS;
}

.rate-modal a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  @include fontBS ($color:#444444);
  text-decoration: none;
}

.rate-modal button {
  @include fontBS ($color:#1d2e5b);
  text-align: center;
  background-color: #f3f4f8;
  border: none;
}
