.rate {
  @include center;
  @include margin-auto;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #edeff6;
  min-height: 480px;
}

.rate h2 {
  @include fontBS(24px, bold, #ff8d30);
  width: 50%;
  margin-bottom: 31px;
}

// .rate__slogan h2::after {
//   content: "";
//   display: inline-block;
//   width: 99px;
//   height: 99px;
//   background-image: url("../img/rates@1x.png");
//   background-repeat: no-repeat;
//   background-size: 50%;
// }

.rate__list li {
  @include fontBS(16px, 300, #444444);
  display: flex;
  align-items: center;
  border-top: 1px solid #e2e5f2;
  border-bottom: 1px solid #e2e5f2;
  min-height: 65px;
}

.rate__list {
  width: 76%;
  margin-bottom: 31px;
}

.rate .rate__button {
  @include fontBS(16px, bold, #192144);
  width: 100%;
  background-color: inherit;
  text-align: center;
  border: none;
  margin-bottom: 30px;
}
