.register {
  width: 100%;
  @include center;
  @include margin-auto;
  @include bgIndexColor;
}

.register h2 {
  @include fontBS ($fsize:24px, $fweight:bold, $color:#ff8d30);
  text-align: center;
}

.register p {
  @include fontBS;
  text-align: center;
  margin-bottom: 32px;
}

.register .register__item {
  @include fontBS ($color:#ffd74b);
}
