.register {
  @include center;
  @include margin-auto;
  background-color: #ffd74b;
}

.register-wrapper {
  @include center;
  @include bgIndexColor;
  padding-top: 52px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.register__slogan {
  @include center;
  width: 75%;
  margin-bottom: 22px;
}

.register__slogan h2 {
  @include fontBS ($fsize:24px, $fweight:bold, $color:#ff8d30);
  text-align: center;
  margin-bottom: 21px;
}

.register__slogan p {
  @include fontBS (16px, 300, #ffffff);
  text-align: center;
  margin: 0;
  line-height: 1.3;
  opacity: 0.9;
}

.register__slogan b {
  @include fontBS (16px, 300, #ffffff);
  margin-bottom: 10px;
  text-align: center;
  line-height: 1.3;
  opacity: 0.9;
}

.register__container {
  @include center;
  width: 85%;
  margin-bottom: 28px;
}

.register__button span {
  font-size: 0;
  padding: 0;
  margin: 0;
}

.register__button::after {
  content: "";
  width: 10px;
  height: 14px;
  display: inline-block;
  background-image: url("../img/triangle-arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.register__container p {
  @include fontBS(16px, 300, #ffffff);
  width: 100%;
  margin-bottom: 0;
  text-align: center;
  opacity: 0.9;
  line-height: 1.38;
}

.register__item {
  @include fontBS (16px, bold, $color:#ffd74b);
  @include center;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  text-transform: uppercase;
}

.register__item span {
  width: 45px;
  height: 45px;
  background-color: #121936;
  border-radius: 50%;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
}

// .register__item--mail::before {
//   content: "";
//   width: 45px;
//   height: 45px;
//   display: inline-block;
//   background-image: url("../img/contacts-mail.svg");
//   background-repeat: no-repeat;
//   background-color: yellowgreen;
//   // #121936 узнать как заливать свг
//   border-radius: 50%;
//   background-position: center;
//   background-size: 50%;
//   margin-right: 16px;
//   // flex-grow: 1;
// }

.register__login {
  color: #ffd74b;
}

.register__container form {
  width: 100%;
  margin-bottom: 16px;
}

.register__container input {
  @include fontBS (16px, bold, rgba(68, 68, 68, 0.3));
  width: 98%;
  min-height: 62px;
  padding-left: 10px;
  border: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.register__button {
  width: 21%;
  margin-left: -21%;
  border: 0;
  min-height: 62px;
  background-color: $indexButton;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.register__contact {
  align-self: flex-start;
}

.register__contact--mail {
  margin-top: 0;
}

@media (min-width: $tablet-width) {
  .register-wrapper {
    padding-top: 35px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }

  .register__slogan {
    width: auto;
  }

  .register__slogan br {
    display: none;
  }

  .register__slogan h2 {
    font-size: 45px;
    margin-bottom: 55px;
  }

  .register__slogan p {
    font-size: 28px;
    width: auto;
  }

  .register__slogan b {
    font-size: 28px;
    margin-bottom: 38px;
    width: auto;
  }

  .register__container {
    width: 90%;
    margin-bottom: 60px;
  }

  .register__container form {
    width: 89%;
    margin-bottom: 26px;
  }

  .register__container br {
    display: none;
  }

  .register__button {
    width: 13%;
    margin-left: -12%;
    min-height: 81px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 24px;
  }

  .register__container input {
    min-height: 81px;
    border-radius: 20px;
    font-size: 24px;
    padding-left: 35px;
  }

  .register__container p {
    font-size: 28px;
    width: auto;
    margin-bottom: 18px;
  }

  .register__contact {
    padding-left: 52px;
  }

  .register__container .register__contact {
    margin-bottom: 5px;
  }

  .register__item {
    font-size: 28px;
    width: 100%;
  }

  .register__item span {
    width: 60px;
    height: 60px;
  }

  .register__contact--icon {
    width: 30px;
    height: 30px;
  }

  .register__item--telephone::before,
  .register__item--mail::before {
    width: 67px;
    height: 67px;
  }
}

// --------------------------для пк ------------------------
@media (min-width: $desktop-width) {
  // .register {
  // }

  .register__item span {
    width: 90px;
    height: 90px;
    flex-shrink: 0;
    margin-right: 34px;
  }

  .register-wrapper {
    padding-top: 66px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }

  .register__contact--icon {
    width: 36px;
    height: 36px;
  }

  .register__slogan {
    margin-bottom: 0;
  }

  .register__slogan br,
  .register__container br {
    display: none;
  }

  .register__slogan h2 {
    margin-bottom: 54px;
  }

  .register__slogan b {
    margin-bottom: 57px;
  }

  .register__container {
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 34px;
    border-radius: 60px;
  }

  .register__button span {
    @include fontBS (24px, bold, #1d2e5b);
    display: inline-block;
    width: 85%;
  }

  //  почему маргином  я не могу толкать спан от псевдоэлемента ?

  .register__button {
    width: 26%;
    margin-left: -26%;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border: none;
  }

  .register__container form {
    padding-left: 26px;
    margin-bottom: 37px;
  }

  .register__container p {
    width: 100%;
    margin-bottom: 44px;
  }

  .register__contact {
    margin-top: 0;
  }

  .register__item--telephone::before,
  .register__item--mail::before,
  .trail__gprs::before {
    width: 90px;
    height: 90px;
  }

  .register__container .register__contact {
    width: 36%;
  }

  .register__container input {
    font-size: 22px;
    padding-left: 35px;
    border-radius: 20px;
    width: 97%;
  }
}
