.steps {
  width: 100%;
  background-color: $indexColor;
  display: flex;
  justify-content: center;
  flex-direction: column;
  @include margin-auto;

}

.steps h2 {
  @include fontBS (36px, bold, white);
  text-align: center;
}

.steps-header {
  // height: 569px;

  background-image: url("../img/globe-back-mobile@1x.jpg");
  background-size: auto;
  background-size: 320px 320px;
  background-repeat: no-repeat;
  // align-items: flex-end;
}

.steps-header__slogan {
  width: 234px;
  height: 114px;
  @include margin-auto;
  margin-bottom: 247px;

}

.steps-autho {
  display: flex;
  align-items: center;
}

.steps-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  font-size: 0px;
  background-color: #ff8d30;
  border-radius: 50%;
}

.steps-button {
  width: 189px;
  height: 40px;
  // // border-radius: 50%;
  // border-top-left-radius: 50%;
  background-color: $indexButton;
  @include fontBS(17px, bold, #161c35);
}

.steps-autho__telephone {
  background-image: url("../img/topmenu-phone.svg");
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: center;
}

.steps-autho__mail {
  background-image: url("../img/topmenu-mail.svg");
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: center;
}

.steps-quote {}

.steps-quote q {
  @include fontBS (16px, 300, white);
}

.steps-quote cite {
  @include fontBS (16px, bold, white);
}

.steps-wrapper {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.steps__list {
  width: 270px;
  height: 320px;
  @include reset-list;
}

.steps__list li {
  width: 270px;
  height: 80px;
  border-radius: 10px;
}

.steps__list li:first-child {
  background-color: #ff8d30;
}

.steps__list li:nth-child(2) {
  background-color: #ffa530;
}

.steps__list li:nth-child(3) {
  background-color: #ffbd30;
}

.steps__list li:last-child {
  background-color: #ffd74b;
}
