.steps {
  @include center;
  @include margin-auto;
  background-color: $indexColor;
}

.steps-quote {
  width: 70%;
  margin-bottom: 33px;
}

.steps-quote q {
  @include fontBS (16px, 300, white);
  display: block;
  width: 80%;
  line-height: 1.2;
  margin-bottom: 18px;
}

.steps-quote cite {
  @include fontBS (16px, bold, white);
  display: inline-block;
  width: 80%;
  line-height: 1.4;
}

.steps-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-bottom: 36px;
}

.steps__list {
  @include reset-list;
  width: 85%;
  // height: 320px;
  // перенести номера в правую часть ли
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  overflow: hidden;
  // включаю нумерацию списка
  counter-reset: white-left-counter;
}

.steps__list li {
  @include fontBS (18px, bold, #161c35);
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
  // спсиок
  counter-increment: white-left-counter;
}

.steps__list li::after {
  @include fontBS (18px, bold, #ffffff);
  content: " "counter(white-left-counter);
  display: flex;
  width: 7px;
  height: 43px;
  align-items: self-start;
  margin-left: auto;
}

.steps__item--text {
  width: 73%;
}

.steps__list li:first-child {
  background-color: #ff8d30;
}

.steps__list li:nth-child(2) {
  background-color: #ffa530;
}

.steps__list li:nth-child(3) {
  background-color: #ffbd30;
}

.steps__list li:last-child {
  background-color: #ffd74b;
}

@media (min-width: $tablet-width) {
  .steps-quote {
    width: 85%;
    margin-top: -538px;
    margin-bottom: 200px;
  }

  .steps-quote q {
    width: 50%;
    font-size: 28px;
    margin-bottom: 44px;
  }

  .steps-quote cite {
    width: 50%;
    font-size: 21px;
  }

  .steps__list {
    width: 89%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
  }

  .steps__list li::after {
    font-size: 30px;
    margin-left: 0;
  }

  .steps__list .steps__item {
    width: 50%;
    height: 140px;
    font-size: 24px;
    padding-left: 31px;
    border-radius: 0;
    flex-wrap: wrap;
  }

  .steps__item--text {
    width: 70%;
  }
}

// --------------------------для пк ------------------------
@media (min-width: $desktop-width) {
  .steps-quote {
    width: 25%;
    margin-left: auto;
    margin-top: -532px;
    margin-bottom: 113px;
  }

  .steps-quote q {
    width: 84%;
    font-size: 28px;
    margin-bottom: 35px;
  }

  .steps-quote cite {
    width: 75%;
    font-size: 21px;
  }

  .steps__list {
    width: 92%;
    flex-wrap: nowrap;
  }

  .steps__list .steps__item {
    height: 108px;
  }

  .steps-wrapper {
    padding-bottom: 123px;
  }
}
