.trail {
  // width: 100%;
  @include center;
  @include margin-auto;
  padding-top: 32px;
  background-color: #ffd74b;
  //   border-bottom-right-radius: 20px;
  //   border-bottom-left-radius: 20px;
  // overflow: hidden;
}

.trail-map p {
  width: 100%;
  margin: 0;
}

.trail__gprs {
  @include fontBS (16px, bold, #192144);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;
  text-transform: uppercase;
  line-height: 1.38;
}

.trail__gprs span {
  width: 45px;
  height: 45px;
  flex-shrink: 0;
  background-color: #121936;
  border-radius: 50%;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
}

.trail-map .trail__run {
  @include center;
  flex-direction: row;
  width: 100%;
  align-items: center;
  border-radius: 10px;
  border: solid 3px #192144;
  margin-bottom: 35px;
}

.trail-map {
  width: 85%;
  // border-bottom-right-radius: 20px;
  // border-bottom-left-radius: 20px;
}

.trail__gprs--icon {
  width: 14px;
  height: 22px;
  fill: #ffd74b;
}

.trail-container {
  @include center;
  background-color: #ffd74b;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
  z-index: 2;
}

.trail__position {
  position: relative;
  width: 100%;
  top: -40px;
  z-index: 0;
  // height: 320px;
  display: flex;
  justify-content: center;
}


.trail__position img {
  width: 100%;
}

.trail__position iframe {
  position: absolute;
  height: 370px;
}

@media (min-width: $tablet-width) {
  .trail {
    padding-top: 50px;
  }

  .trail-container {
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }

  .trail-map {
    width: 80%;
  }

  .trail__gprs span {
    width: 67px;
    height: 67px;
    margin-right: 30px;
  }

  .trail__gprs--icon {
    width: 21px;
    height: 31px;
  }

  .trail__gprs::before {
    width: 67px;
    height: 67px;
  }

  .trail__gprs {
    font-size: 28px;
    justify-content: start;
    margin-bottom: 50px;
    letter-spacing: -2.2px;
  }

  .trail-map .trail__run {
    font-size: 24px;
    height: 81px;
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 81px;
  }

  .trail__run span {
    width: 90%;
    display: inline-block;
  }

  .trail__position img {
    width: 100%;
    height: 458px;
  }

  .trail__position iframe {
    width: 100%;
    height: 535px;
  }
}

// --------------------------для пк ------------------------
@media (min-width: $desktop-width) {
  .trail {
    padding-top: 55px;
  }

  .trail-map {
    display: flex;
    width: 80%;
    justify-content: space-between;
    padding-left: 131px;
  }

  .trail-map .trail__run {
    width: 32%;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 64px;
  }

  .trail-map p {
    width: 61%;
  }

  .trail__gprs span {
    width: 90px;
    height: 90px;
  }

  .trail__gprs--icon {
    width: 45px;
    height: 45px;
  }

  .trail__position img {
    width: 100%;
    height: 398px;
  }

  .trail__position iframe {
    width: 100%;
    height: 494px;
  }
}
