.trend {
  @include center;
  @include margin-auto;
  background-color: #192144;
  // overflow: hidden;
}

.trend-slogan {
  width: 70%;
  padding-bottom: 28px;
}

.trend-wrapper {
  @include center;
  width: 100%;
  padding-top: 49px;
  background-color: #edeff6;
  padding-bottom: 29px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

.trend h2 {
  @include fontBS(24px, bold, #ff8d30);
}

.trend-slogan p {
  @include fontBS (16px, 300, #444444);
  line-height: 1.38;
}

.trend-list {
  width: 85%;
  list-style: none;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 13px;
  padding: 0;
}

.trend-list li {
  width: 100%;
  // height: 200px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  overflow: hidden;
}

.trend__text::before {
  content: "";
  position: absolute;
  background-image: url("https://via.placeholder.com/35x24");
  width: 35px;
  height: 24px;
  top: -12px;
  left: 27px;
  background-color: hotpink;
}

.trend__text {
  position: relative;
  top: -15px;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  background-color: white;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding-left: 22px;
  padding-right: 26px;
  padding-bottom: 18px;
  padding-top: 5px;
}

.trend__text p {
  @include fontBS(21px, bold, #161c35);
  width: 70%;
  margin-bottom: 5px;
}

.trend__text small {
  @include fontBS(16px, 500, rgba(68, 68, 68, 0.3));
}

.trend__text span {
  @include fontBS(16px, 500, rgba(68, 68, 68, 0.3));
  float: right;
}

.trend__text span::before {
  content: "";
  display: inline-block;
  width: 11px;
  height: 11px;
  margin-right: 5px;
  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}

// .trend--thailand {
//   background-image: url("../img/flag.svg");
//   background-size: 35px,14px;
//   background-repeat: no-repeat;
//   background-position: center;
// }

@media (min-width: $tablet-width) {
  .trend-wrapper {
    position: relative;
    background-image: url("../img/flags-back@1x.png");
    background-repeat: no-repeat;
    background-position: top 80px right 40px;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
    padding-bottom: 81px;
  }

  .trend-wrapper::before {
    content: "";
    position: absolute;
    left: 40px;
    top: 408px;
    width: 141px;
    height: 141px;
    border-radius: 20px;
    background-color: #e2e5f2;
  }

  .trend-list {
    width: 80%;
    z-index: 1;
    margin-bottom: 35px;
  }

  .trend-list li {
    border-radius: 20px;
    margin-bottom: -6px;
    // понять не могу откуда там маргин
  }

  .trend h2 {
    width: 65%;
    font-size: 45px;
    margin-top: 24px;
    margin-bottom: 56px;
  }

  .trend-slogan {
    width: 80%;
    padding-bottom: 63px;
  }

  .trend-slogan p {
    width: 61%;
    font-size: 28px;
    line-height: 1.2;
  }

  .trend__text p {
    margin-top: 0;
    font-size: 24px;
  }

  .trend__text::before {
    width: 70px;
    height: 47px;
    top: 31px;
    right: -38px;
    left: unset;
  }

  .trend__text span::before {
    opacity: 0.1;
    width: 21px;
    height: 20px;
  }

  .trend__text small {
    font-size: 20px;
    margin-bottom: 21px;
  }

  .trend__text span {
    font-size: 20px;
    order: 1;
  }

  .trend__item {
    display: flex;
  }

  .trend__item img {
    width: 186px;
    height: 140px;
    order: 2;
    border-bottom-right-radius: 20px;
  }

  // обсудить с Дашей как должен меняться рисунок

  .trend__text {
    width: 100%;
    flex-direction: column;
    padding-top: 45px;
    padding-left: 24px;
  }

  .trend__button {
    font-size: 24px;
  }
}

// --------------------------для пк ------------------------
@media (min-width: $desktop-width) {
  .trend h2 {
    margin: 0;
    margin-bottom: 58px;
  }

  .trend-list::before {
    position: absolute;
    width: 141px;
    height: 141px;
    content: " ";
    border-radius: 20px;
    background-color: #e2e5f2;
  }

  .trend-wrapper {
    padding-top: 163px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 160px;
  }

  .trend-slogan {
    width: 35%;
    align-self: flex-start;
    order: 1;
    padding-left: 43px;
  }

  .trend-slogan p {
    width: 85%;
  }

  .trend-list {
    width: 39%;
    order: 0;
    margin: 0;
  }

  .trend-list li {
    border-radius: 20px;
  }

  .trend__text {
    padding-top: 38px;
    padding-left: 35px;
  }

  .trend__text span::before {
    width: 20px;
    height: 20px;
    opacity: 0.3;
  }

  .trend__item img {
    width: 186px;
    height: 140px;
  }

  .trend .trend__button {
    position: absolute;
    width: 19%;
    order: 3;
    align-self: flex-end;
    z-index: 1;
    right: 300px;
    bottom: 139px;
    border-radius: 20px;
    padding-right: 37px;
  }
}
