.footer {
  @include center;
  @include margin-auto;
  // width: 320px;
  background-color: white;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  overflow: hidden;
}

.footer__logo {
  margin-bottom: 40px;
  margin-top: 40px;
  font-size: 0;
}

.footer__container {
  @include center;
  width: 100%;
}

.footer__made {
  @include fontBS (16px, normal, #444444);
  display: flex;
  width: 80%;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 14px;
}

.footer__htmlacademy {
  margin-left: auto;
}

.footer__social {
  margin-bottom: 60px;
}
