.footer {
  @include center;
  @include margin-auto;
  width: 320px;
  background-color: white;
  //   border-bottom-right-radius: 20px;
  //   border-bottom-left-radius: 20px;
  // overflow: hidden;
}

.footer__logo {
  margin-bottom: 40px;
  margin-top: 40px;
  font-size: 0;
}

.footer__social {
  width: 100%;
}

.footer__made {
  display: flex;
  justify-content: space-between;
  @include fontBS ($color:#444444);
  margin-bottom: 14px;
}
