.catalog-main {
  background-color: #e2e5f2;
}

.catalog-main__slogan {
  display: flex;
  align-items: center;
  height: 78px;
  padding-top: 15px;
  padding-left: 24px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #161c35;
  margin: 0;
}

.catalog-main__idea::after {
  position: absolute;
  content: "";
  right: 0;
  bottom: -16px;
  left: 0;
  background-color: #ff8d30;
  height: 5px;
}

.catalog-main__idea {
  @include fontBS (36px, bold, #ffffff);
  position: relative;
  // width: 58%;
  margin: 0;
}

.catalog-main__home--link {
  @include reset-list;
  @include fontBS(20px, 700, #ffffff);
  display: none;
  text-transform: uppercase;
}

.catalog-main__home--link span {
  background-color: inherit;
  margin-left: 61px;
  // width: 45px;
  // height: 45px;
  // display: inline-block;
  // background-color: #121936;
  // border-radius: 50%;
  // background-position: center;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // margin-right: 16px;
}

.catalog-main__autho {
  display: none;
}

// ---------------------------для планшета_______________________
@media (min-width: $tablet-width) {
  .catalog-main__slogan {
    display: flex;
    justify-content: space-between;
    //height:240px;
    padding: 0;
    padding-left: 75px;
    padding-right: 74px;
    padding-top: 120px;
    padding-bottom: 99px;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
  }

  .catalog-main__home--link span {
    margin-left: 18px;
  }

  .catalog-main__slogan h1 {
    font-size: 60px;
  }

  .catalog-main__home--link {
    display: block;
  }

  .catalog-main__autho {
    display: flex;
  }

  .catalog-main__idea::after {
    bottom: -70px;
  }
}

// для пк_________________________для пк ___________________________

@media (min-width: $desktop-width) {
  .catalog-main__idea::after {
    bottom: -76px;
    height: 8px;
  }

  .catalog-main__slogan {
    padding-top: 112px;
    padding-left: 129px;
    padding-bottom: 103px;
  }

  .catalog-main__home--link {
    width: 19%;
  }

  .catalog-main__home--link span {
    margin-left: 29px;
  }
}
