.planing-add h3 {
  @include fontBS(20px, bold, #1d2e5b);
  align-self: self-start;
  width: 100%;
  margin: 0;
}

.planing__first--date,
.planing__second--route {
  @include fontBS(20px, bold, #1d2e5b);
}

// _____________________________________перекинуть в отдельный блок
.planing-add {
  background-color: #dfe3f0;
  margin-bottom: 48px;
}

.planing-add--wrapper {
  @include center;
  position: relative;
  background-color: #d4d9eb;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  overflow: hidden;
  margin-bottom: 10px;
  padding-top: 12px;
}

.planing-add h2 {
  @include fontBS (22px, bold, #1d2e5b);
  align-self: start;
  margin-left: 7%;
  margin-bottom: 29px;
}

.planing-step {
  @include center;
}

.planing-step__first,
.planing-step__second,
.planing-step__three {
  @include center;
  background-color: white;
  width: 85%;
  border-radius: 10px;
  border: none;
  margin-bottom: 10px;
}

.planing-step__end {
  display: flex;
  flex-direction: column;
  width: 85%;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  padding-top: 11px;
  padding-bottom: 10px;
}

.planing-step__end button {
  margin-bottom: 10px;
}

.planing-step__first--container,
.planing-step__second--container,
.planing-step__three--container {
  @include center;
  // width: 91%;
  // ширина стоит для календаря
}

.planing-step__second--container {
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 17px;
  padding-left: 13px;
}

.planing-date {
  @include center;
  justify-content: left;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  margin-bottom: 21px;
  padding-top: 17px;
}

.planing-step__text {
  @include fontBS (16px, normal, #444444);
  line-height: 1.39;
  letter-spacing: -0.5px;
}

.planing-add label {
  @include fontBS (16px, 500, #1d2e5b);
  display: flex;
  align-items: center;
}

.planing__month--count {
  @include fontBS (20px, bold, #1d2e5b);
  margin-top: 12px;
  margin-bottom: 10px;
}

.planing-add__score--children input {
  margin-right: 10px;
}

.planing-add b {
  @include fontBS (16px, 500, #1d2e5b);
  text-transform: uppercase;
  display: block;
  // margin-bottom: 9px;
  width: 80%;
}

.planing-add__base span {
  @include fontBS (16px, 500, #1d2e5b);
  width: 10%;
  text-transform: uppercase;
  // margin-bottom: 9px;
  float: right;
}

.planing-add__base {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 5px;
}

.planing-path {
  @include reset-list;
  position: absolute;
  top: 41px;
  right: 49px;
  display: flex;
  // ставлю флех - он исчезает. чудеса какие-то
  width: 40px;
  height: 5px;
  font-size: 0;
}

.planing-path a {
  width: 6px;
  height: 5px;
}

.planing-path li {
  width: 6px;
  height: 5px;
  background-color: #808285;
  margin-right: 15px;
  border-radius: 50%;
  flex-shrink: 0;
}

li.planing-path--current {
  background-color: #1d2e5b;
}

.planing-add__score {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 14px;
  padding-right: 14px;
  border: solid 1px #cbced9;
  margin-bottom: 21px;
  margin-top: 10px;
}

.planing-add__score--day {
  margin-bottom: 20px;
}

.planing-add__score .planing--minus {
  width: 14px;
  height: 14px;
  border: none;
  background-image: url("../img/qty-minus-mobile.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: inherit;
  font-size: 0;
}

.planing-add__score .planing--plus {
  width: 14px;
  height: 14px;
  font-size: 0;
  border: none;
  background-image: url("../img/qty-plus-mobile.svg");
  background-repeat: no-repeat;
  background-color: inherit;
}

.planing-add__score--children {
  align-self: flex-start;
}

.planing-add__score--children::before {
  content: "";
  width: 26px;
  height: 26px;
  border-radius: 4px;
  margin-right: 10px;
  vertical-align: middle;
  background-color: #ffffff;
  background-repeat: no-repeat;
  display: inline-block;
  border: 1px solid #cbced9;
}

.planing-add__score--children--check:checked + .planing-add__score--children::before {
  background-image: url("../img/tick.svg");
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
}

.planing__calendar {
  margin-bottom: 25px;
}

.planing__month button {
  border: none;
  background-color: inherit;
}

.planing__month {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #d4d9eb;
  border-top: 1px solid #d4d9eb;
  margin-bottom: 16px;
}

.planing__month--arrow {
  width: 9px;
  height: 18px;
  font-size: 0;
}

.planing__month--left {
  background-image: url("../img/month-arrow-left.svg");
  background-repeat: no-repeat;
}

.planing__month--right {
  background-image: url("../img/month-arrow-right.svg");
  background-repeat: no-repeat;
}

.planing-step__first--container .form-button {
  width: 92%;
  margin-bottom: 10px;
}

.planing--count {
  @include fontBS (20px, bold, #1d2e5b);
  margin-top: 10px;
  margin-bottom: 10px;
}

.planing__calendar input {
  display: none;
}

.planing-data__day button:last-child {
  color: red;
}

.planing__calendar label {
  @include fontBS (14px, normal, rgba(68, 68, 68, 0.3));
  display: inline-block;
  background-color: white;
  border: 1px solid #d4d9eb;
  text-align: center;
  vertical-align: middle;
}

.planing-data__day {
  display: flex;
  flex-wrap: wrap;
  width: 225px;
}

.planing-data__day p {
  margin: 0;
}

.planing-data__day label,
.planing-data__day button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33px;
  height: 32px;
  text-align: left;
  border: 1px solid #d4d9eb;
  margin-left: -1px;
  margin-bottom: -1px;
}

.planing-data__day button {
  @include fontBS (14px, normal, #444444);
  border: none;
  line-height: 1.29;
  background-color: inherit;
}

.planing__calendar .planing__calendar--weekends {
  color: #ff5c23;
}

.planing-data--0331:checked ~ .planing-data__day .planing-data__choise--0331 {
  background-color: #1d2e5b;
  color: white;
}

.planing-data--0329:checked ~ .planing-data__day .planing-data__choise--0329 {
  background-color: #1d2e5b;
  color: white;
}

.planing-data--0328:checked ~ .planing-data__day .planing-data__choise--0328 {
  background-color: #1d2e5b;
  color: white;
}

.planing-data--0327:checked ~ .planing-data__day .planing-data__choise--0327 {
  background-color: #1d2e5b;
  color: white;
}

.planing-data--0326:checked ~ .planing-data__day .planing-data__choise--0326 {
  background-color: #1d2e5b;
  color: white;
}

.planing-step__second--choise {
  @include fontBS (14px, 500, #1d2e5b);
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  // justify-content: center;
  margin-bottom: 21px;
  height: 42px;
  text-transform: uppercase;
}

.planing-step__second--choise::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #1d2e5b;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  right: 49px;
}

.planing-step__second--choise + .clear::after {
  background-color: white;
  border: solid 1px #cbced9;
}

.planing-step__second--choise::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 5px;
  height: 10px;
  background-color: white;
  background-image: url("../img/small-arrow.svg");
  top: 48px;
  right: 51px;
  opacity: 0.5;
}

.planing-step__second--choise--flag {
  width: 53px;
  height: 42px;
  flex-shrink: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #cbced9;
}

.planing-step__second--choise--flag img {
  width: 35px;
  height: 24px;
}

.planing-step__second--choise .flag-reset {
  width: 21px;
  height: 21px;
  font-size: 0;
  background-image: url("../img/small-cross.svg");
  background-repeat: no-repeat;
  // background-size: 50%;
  background-position: center;
  opacity: 0.2;
  position: absolute;
  border-radius: 50%;
  right: -9px;
  top: -13px;
  border: none;
}

.planning-select__reset {
  width: 21px;
  height: 21px;
  position: absolute;
  color: white;
  font-size: 0;
  right: 225px;
  top: 20px;
  border: none;
  background-color: transparent;
}

.planing-step__second--choise ul {
  @include reset-list;
}

.planing-step__second--country {
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 42px;
  max-width: 730px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #cbced9;
  border-radius: 4px;
  padding-left: 13px;
  padding-right: 10px;
}

.planing-step__second--flag {
  width: 33%;
  font-size: 0;
}

.planing-step__second--add {
  @include fontBS (14px, 500, #1d2e5b);
  position: relative;
  width: 220px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  background-color: #edeff6;
  border-radius: 4px;
  border: 1px solid #cbced9;
  padding-right: 13px;
  padding-left: 13px;
  margin-bottom: 9px;
  margin-right: auto;
}

.planing-step__second--add::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #edeff6;
  border: solid 1px #cbced9;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  right: 49px;
}

.planing-step__second--add::after {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  opacity: 0.3;
  background-color: #edeff6;
  background-image: url("../img/qty-plus-mobile.svg");
  background-repeat: no-repeat;
  margin-left: auto;
}

.planing-step__second--flag li:first-child {
  width: 100%;
  height: 42px;
  background-color: blueviolet;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 35px, 24px;
  background-image: url("../img/flags-back@1x.png");
  // отсюда каким образом флаги тащить??
}

.planing-step--back {
  @include margin-auto;
  @include fontBS($fsize:17px, $fweight:bold, $color:#161c35);
  width: 85%;
  line-height: 1.76;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  text-transform: uppercase;
  background-color: inherit;
}

.planing-country__other {
  @include center;
  display: none;
  width: 220px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  background-color: white;
}

.planning-select__current-country {
  width: 220px;
  height: 42px;
  background-color: #1d2e5b;
}

.flag-reset {
  top: 0;
  right: 0;
}

.planing-step__second--choise:hover .planing-country__other {
  display: flex;
}

.planing-step__second--choise.planing-step__second--choise--active .planing-country__other {
  display: flex;
}

// при добавление этого класа - показывает календарь

.planing-country__other ul {
  @include reset-list;
}

.planing-country__other .planing-country__selection {
  width: 220px;
  height: 210px;
  display: flex;
  flex-wrap: wrap;
}

.planing-country__selection button {
  @include fontBS (14px, 500, #1d2e5b);
  text-align: center;
  width: 100%;
  // height: 100%;
  text-transform: uppercase;
  background-color: white;
  border: 0 none;
}

.planing-country__selection--items,
.planing-country__selection--items button {
  width: 45px;
  height: 42px;
  border: 1px solid #cbced9;
  margin-right: -1px;
}

.planing-country__chosen--2,
.planing-country__chosen--3,
.planing-country__chosen--4,
.planing-country__chosen--5,
.planing-country__chosen--6,
.planing-country__chosen--7,
.planing-country__chosen--8,
.planing-country__chosen--9,
.planing-country__chosen--10,
.planing-country__chosen--11,
.planing-country__chosen--12,
.planing-country__chosen--13,
.planing-country__chosen--14,
.planing-country__chosen--15,
.planing-country__chosen--16,
.planing-country__chosen--17,
.planing-country__chosen--18,
.planing-country__chosen--19,
.planing-country__chosen--20,
.planing-country__chosen--21,
.planing-country__chosen--22,
.planing-country__chosen--23,
.planing-country__chosen--24 {
  display: none;
}

.planing-country__chosen li {
  @include fontBS(16px, normal, #444444);
  line-height: 1.38;
}

.planing-country__chosen a {
  @include fontBS(16px, normal, #444444);
}

.planing-country__selection--items .planing-country__chosen {
  width: 230px;
  padding-top: 220px;
  background-color: white;
  padding-left: 20px;
}

.planing-country__other .planing-country__button {
  background-color: #d6daed;
  margin-bottom: 27px;
}

.planing-step__second--choise-wrapper {
  width: 94%;
  padding-top: 7px;
}

.planing-step__three textarea {
  @include fontBS(16px, normal, #444444);
  width: 100%;
  height: 218px;
  line-height: 1.38;
  // letter-spacing: -0.5px;
  resize: none;
  border: 1px solid #cbced9;
  padding-left: 13px;
  padding-top: 9px;
}

.planing-step__three--plan {
  @include center;
  width: auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  padding-top: 8px;
}

.planing-step__three--plan p {
  @include fontBS (17px, bold, #1d2e5b);
  align-self: flex-start;
}

@media (max-width: 767px) {
  .planing-step__three--plan p::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #1d2e5b;
    margin-right: 8px;
  }
}

.planing-step__second--choise p {
  @include fontBS (14px, 500, #1d2e5b);
  width: 100%;
}

.planning-select__current-country p {
  color: #ffffff;
}

.planing-step__second--country::after {
  content: "";
  position: absolute;
  display: block;
  width: 49px;
  height: 38px;
  top: 1px;
  right: 0;
  background-image: url("../img/dropdown-form.svg");
  background-size: 12px 7px;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
  background-color: white;
  opacity: 0.3;
}

.planing-step__second--anchor {
  width: 230px;
  display: flex;
  flex-direction: column;
  padding-top: 17px;
  margin-right: auto;
  margin-left: auto;
}

.planing-step__second--anchor .planing-step__second--button {
  width: 230px;
  margin-bottom: 11px;
}

.planing-step__three--container {
  width: 88%;
  padding-top: 18px;
  margin-left: auto;
  margin-right: auto;
}

.planing-step__three--fun {
  @include fontBS (20px, bold, #1d2e5b);
  align-self: flex-start;
}

.planing-step__three--container .planing-step__text {
  margin-bottom: 0;
}

.planing-step__three--country {
  position: absolute;
  font-size: 0;
  padding-left: 22%;
  width: 88px;
  top: 22px;
  right: 0;
  height: 24px;
  display: inline-block;
  z-index: 2;
  background-image: linear-gradient(90deg, transparent 0.5%, white 35%);
}

.planing-step__three--country img {
  width: 35px;
  height: 24px;
  flex-grow: 0;
  flex-shrink: 0;
}

.planing-step__three {
  margin-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

// _____________________Направления_____________________________________________

@media (min-width: $tablet-width) {
  .planing-step__first--container,
  .planing-step__second--container,
  .planing-step__three--container {
    // align-items: flex-start;
    padding-top: 22px;
    // паддинг топ нужен
  }

  .planing-step__three--container {
    padding-top: 40px;
  }

  .planing-step__three--fun {
    font-size: 36px;
    letter-spacing: -2.6px;
  }

  .planing-step__three--container .planing-step__text {
    margin-top: 35px;
    margin-bottom: 39px;
  }

  .planing-step h3 {
    font-size: 36px;
  }

  .planing__first--date,
  .planing__second--route {
    font-size: 36px;
  }

  .planing-step__text {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 42px;
    margin-top: 36px;
  }

  .planing-route__btn {
    width: 81%;
    letter-spacing: -1px;
    margin-bottom: 35px;
  }

  .planing-add--wrapper {
    padding-top: 20px;
  }

  .planing-path {
    top: 65px;
    right: 57px;
    width: 92px;
    height: 5px;
    justify-content: space-between;
  }

  .planing-add h2 {
    font-size: 36px;
    margin-bottom: 59px;
    margin-left: 9.6%;
    letter-spacing: -2.2px;
  }

  .planing-step__first,
  .planing-step__second,
  .planing-step__three {
    width: 81%;
    margin-bottom: 40px;
    border-radius: 30px;
    padding-bottom: 55px;
  }

  .planing-step__second--container {
    width: 89%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-top: 42px;
  }

  .planing-step__three {
    margin-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    padding-bottom: 32px;
  }

  .planing-step__three--country img {
    width: 70px;
    height: 47px;
  }

  .planing-step__three--country {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 105px;
    top: 35px;
    right: -2px;
    padding-left: 0;
  }

  .planing-step__three--country::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: #1d2e5b;
    border-radius: 50%;
  }

  .planing-step__end {
    width: 81%;
    flex-direction: row;
    padding-top: 0;
    padding-left: 45px;
    padding-right: 35px;
    padding-bottom: 50px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
  }

  .planing-country__other {
    width: 575px;
    height: 476px;
    background-color: white;
    top: 44px;
    padding-top: 0;
    justify-content: flex-start;
  }

  .planning-select__current-country {
    width: 369px;
    height: 70px;
    padding-left: 27px;
    align-self: flex-start;
  }

  .planing-country__selection--items,
  .planing-country__selection--items button {
    width: 52px;
    height: 70px;
    border: solid 1px #cbced9;
    background-color: #ffffff;
    font-size: 20px;
  }

  .planing-country__other .planing-country__selection {
    width: 285px;
    margin-bottom: 0;
    margin-right: auto;
    padding-left: 27px;
  }

  .planing-country__selection--items .planing-country__chosen {
    width: 473px;
    padding-top: 0;
    padding-left: 349px;
    margin-top: -42px;
    background-color: white;
  }

  .planing-country__chosen a {
    font-size: 20px;
    line-height: 1.5;
  }

  .planing-add {
    margin-bottom: 64px;
  }

  .planing-add b {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .planing-step__second {
    margin-bottom: 49px;
  }

  .step__first--date,
  .step__second--route {
    font-size: 36px;
    letter-spacing: -2px;
    margin-bottom: 13px;
  }

  .planing-add__base {
    border-top: 1px solid #d4d9eb;
    padding-top: 22px;
    padding-bottom: 14px;
  }

  .planing-add__base span {
    color: rgba(29, 46, 91, 0.3);
    font-size: 20px;
    margin-left: auto;
    margin-bottom: 15px;
  }

  .planing-add__score {
    padding-top: 7px;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 25px;
    height: 70px;
  }

  .planing-add__score input {
    background-image: url("../img/qty-minus.svg");
  }

  .planing-add__score--children::before {
    width: 36px;
    height: 36px;
    margin-right: 25px;
  }

  .planing-date .planing-add__score--children {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 50px;
  }

  .planing-add__choise--time,
  .planing-add__choise--day,
  .planing-add__score--day {
    order: 4;
  }

  // поднятие можно с детьми в планшетной версии

  // дальше календарь
  .planing__month--count {
    font-size: 36px;
  }

  .planing__month {
    height: 85px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 0;
    margin-bottom: 13px;
  }

  .planing__month--arrow {
    width: 15px;
    height: 28px;
  }

  .planing-data__day {
    width: 535px;
    padding-top: 15px;
  }

  .planing-data__day button {
    width: 77px;
    height: 40px;
    font-size: 20px;
  }

  .planing-data__day label {
    width: 77px;
    height: 70px;
    font-size: 20px;
  }

  .planing__calendar {
    margin-bottom: 45px;
  }

  .planing-add .form-button {
    width: 285px;
    height: 81px;
    align-self: flex-start;
    font-size: 24px;
    text-transform: unset;
    margin: 0;
    padding-left: 34px;
    padding-right: 34px;
    letter-spacing: -1.8px;
  }

  .planing-step__first .form-button {
    margin-left: 5.6%;
  }

  // выбор страны
  .planing-step__second--choise-wrapper {
    width: 100%;
    border-top: 1px solid #d4d9eb;
    padding-top: 38px;
  }

  .planing-step__second--country {
    width: 369px;
    height: 70px;
    margin-right: 53px;
    // узнать как делать эти фигурки и изменить маржин
    border-radius: 4px;
    padding-left: 23px;
    padding-right: 23px;
  }

  .planing-step__second--choise p {
    font-size: 20px;
  }

  .planing-step__second--choise--flag {
    width: 19%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: inherit;
    background-position: center;
    background-size: 70px 47px;
    font-size: 0;
    border: none;
    // Граница временно
  }

  .planing-step__second--choise--flag button {
    width: 17px;
    height: 17px;
    border: none;
    position: static;
    margin-left: auto;
    background-color: inherit;
    font-size: 15px;
  }

  .planing-step__second--choise--flag img {
    width: 70px;
    height: 47px;
  }

  .planing-step__second--choise {
    height: 70px;
    margin-bottom: 16px;
  }

  .planing-step__second--choise .flag-reset {
    right: -13px;
    top: 22px;
  }

  .planing-step__second--choise::before {
    display: none;
    // убрал стрелочки
  }

  .planing-step__second--choise::after {
    width: 15px;
    height: 15px;
    right: 134px;
  }

  .planing-step__second--add {
    width: 369px;
    height: 70px;
    border-radius: 4px;
    background-color: #edeff6;
    font-size: 20px;
    padding-left: 25px;
  }

  .planing-step__second--add::after {
    content: " + ";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: auto;
  }

  .planing-add .form-button::after {
    content: "";
    width: 10px;
    height: 14px;
    display: inline-block;
    background-image: url("../img/triangle-arrow-right.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin-left: auto;
  }

  .planing-step__second--anchor {
    width: 89%;
    padding-top: 36px;
    flex-direction: row;
    justify-content: space-between;
  }

  .planing-step__second--anchor .planing-step__second--button {
    margin-left: 0;
  }

  .planing-step--back {
    margin-right: 0;
    width: 188px;
    font-size: 24px;
    text-transform: unset;
  }

  .planing-step--back::before {
    content: "";
    width: 10px;
    height: 14px;
    display: inline-block;
    background-image: url("../img/triangle-arrow-left.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin-right: auto;
  }

  .planing-step__three textarea {
    @include fontBS (20px, normal, #444444);
    width: 95%;
    padding: 20px;
    border: 1px solid #cbced9;
    height: 144px;
    margin-left: 0;
    align-self: flex-start;
  }

  .planing-step__three--plan {
    width: 100%;
    padding-top: 3px;
    margin-bottom: 15px;
  }

  .planing-step__three--plan p {
    font-size: 30px;
    letter-spacing: -2px;
    margin-bottom: 37px;
  }
}

// --------------------------для пк ------------------------

@media (min-width: $desktop-width) {
  .planing-add--wrapper {
    padding-top: 4px;
  }

  .planing-add {
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
  }

  .planing-add h2 {
    font-size: 36px;
  }

  .planing-date h3 {
    width: auto;
    font-size: 36px;
    align-self: flex-start;
  }

  .planing-step__text {
    width: 60%;
    align-self: flex-start;
    font-size: 20px;
    margin-bottom: 56px;
  }

  .planing-add b {
    width: 22%;
    font-size: 18px;
    margin-bottom: 0;
  }

  .planing-add__base span {
    align-self: center;
    margin-left: 40px;
    margin-bottom: 0;
  }

  .planing-add__score {
    width: 181px;
    margin-bottom: 0;
  }

  .planing-add__choise--day {
    order: 7;
  }

  .planing-add__score--day {
    order: 6;
  }

  .planing-add__choise--time {
    order: 5;
  }

  .planing-add__choise--man {
    order: 3;
    margin-right: auto;
  }

  .planing-path li {
    width: auto;
    height: auto;
    background-color: white;
    margin-bottom: 24px;
    line-height: 0.69;
    opacity: 0.3;
    text-transform: uppercase;
  }

  .planing-path li::before {
    content: " ";
    width: 6px;
    height: 5px;
    display: inline-block;
    background-color: #808285;
    margin-right: 38px;
    border-radius: 50%;
    flex-shrink: 0;
  }

  li.planing-path--current {
    background-color: white;
    color: #000000;
    opacity: 0.6;
  }

  .planing-path a {
    @include fontBS (20px, normal, #000000);
  }

  .planing-date .planing-add__score--children {
    width: 250px;
    order: 4;
    font-size: 20px;
    text-transform: uppercase;
    align-self: center;
    margin-bottom: 0;
  }

  .planing-add__score--children::before {
    width: 36px;
    height: 36px;
    margin-right: 27px;
    border-radius: 4px;
  }

  .planing-data__wrapper {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #d4d9eb;
  }

  .planing-path {
    display: none;
  }

  .planing-path__first,
  .planing-path__second,
  .planing-path__three {
    position: static;
    display: flex;
    width: 210px;
    flex-direction: column;
    font-size: 20px;
    background-color: #ffffff;
    margin-left: auto;
    line-height: 0.69;
    letter-spacing: 2px;
  }

  .planing__first--date,
  .planing__second--route {
    width: 40%;
  }

  .planing-date {
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 70px;
  }

  .planing--count {
    font-size: 20px;
  }

  .planing__calendar {
    width: 93%;
    margin-bottom: 56px;
  }

  .planing__month--arrow {
    width: 18px;
    height: 34px;
  }

  .planing-data__day {
    width: 100%;
    max-width: 1110px;
    padding-top: 3px;
    padding-left: 17px;
  }

  .planing-data__day label {
    width: 143px;
    height: 72px;
    font-size: 18px;
  }

  .planing-data__day button {
    width: 143px;
    height: 41px;
    font-size: 18px;
    align-items: start;
    justify-content: start;
    padding-left: 15px;
  }

  .planing-step__first,
  .planing-step__second,
  .planing-step__three {
    width: 92%;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    padding-bottom: 105px;
  }

  .planing-step__three {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding-bottom: 0;
  }

  .planing-step__first--container,
  .planing-step__second--container,
  .planing-step__three--container {
    width: 85%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  .planing-add .form-button {
    width: 25%;
    height: 81px;
    align-self: flex-start;
    font-size: 24px;
    text-transform: none;
    padding-left: 36px;
    padding-right: 36px;
  }

  .planing-add .form-button::after {
    content: "";
    width: 10px;
    height: 14px;
    display: inline-block;
    background-image: url("../img/triangle-arrow-right.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin-left: auto;
  }

  .planing-step__second--container {
    padding-top: 96px;
    padding-left: 55px;
  }

  .planing-step--back {
    width: 26%;
    text-transform: none;
    margin: 0;
    font-size: 24px;
    padding-left: 36px;
    padding-right: 36px;
  }

  .planing-step--back::before {
    content: "";
    width: 10px;
    height: 14px;
    display: inline-block;
    background-image: url("../img/triangle-arrow-left.");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin-right: auto;
  }

  .planing-step__second--container h3,
  .planing-step__three--container h3 {
    width: auto;
    font-size: 36px;
    align-self: flex-start;
  }

  .planing-step__second--choise {
    width: 100%;
    height: 70px;
  }

  .planing-step__second--choise-wrapper {
    padding-top: 62px;
  }

  .planing-step__second--country {
    width: 730px;
    margin-right: 82px;
  }

  .planing-step__second--choise--flag {
    width: 17%;
  }

  .planing-step__second--choise--flag button {
    width: 18px;
    height: 18px;
  }

  .planing-step__second--add {
    width: 730px;
    font-size: 20px;
  }

  .planing-step__second--anchor {
    width: 76%;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 44px;
  }

  .planing-step__second--anchor .planing-step__second--button {
    width: 27%;
  }

  .planing-step__three--container {
    width: 77%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 85px;
  }

  .planing-step__three--container .planing-step__text {
    margin-bottom: 80px;
  }

  .planing-step__three--plan {
    padding-top: 21px;
    margin-bottom: 0;
  }

  .planing-step__three--fun {
    width: 66%;
  }

  .planing-step__second--choise::after {
    right: 270px;
  }

  .planing-step__three--country {
    width: 118px;
    flex-direction: row;
    top: 60px;
    right: 115px;
  }

  .start-country.planing-step__three--country::after {
    content: "от куда и куда";
    font-size: 0;
    position: absolute;
    width: 3px;
    height: 261px;
    background-color: #1d2e5b;
    right: 110px;
    transform: translateX(50%);
    top: 7px;
  }

  .planing-step__three--plan p {
    font-size: 30px;
  }

  .planing-step__three--plan textarea {
    font-size: 20px;
  }

  .planing-step__end {
    width: 92%;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    padding-top: 44px;
    padding-bottom: 103px;
    padding-right: 108px;
    padding-left: 162px;
    justify-content: space-between;
  }

  .planing-step__end .form-button {
    width: 27%;
  }
}
