.filter-country {
  @include center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
}

.filter-country__main {
  display: flex;
  width: 78%;
  min-height: 50px;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 6%;
}

.filter-country__main button {
  border: none;
}

.filter-country__pushbutton {
  width: 13%;
  align-self: center;
  border: none;
  background-color: inherit;
}

.filter-country__pushbutton--close,
.filter-country__pushbutton--open {
  @include fontBS (0, bold, #192144);
  display: none;
  text-transform: uppercase;
}

.filter-country__pushbutton--close {
  display: inline-block;
}

.filter-country__pushbutton--close::after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url("../img/filter-close.svg");
  background-position: center;
}

.filter-country__pushbutton--open::after {
  content: "";
  display: inline-block;
  min-width: 17px;
  min-height: 3px;
  background-image: url("../img/dots.svg");
  background-repeat: no-repeat;
  background-size: 17px, 3px;
  background-position: center;
}


.filter-country__main h2 {
  @include fontBS (16px, bold, #192144);
  text-transform: uppercase;
  margin: 0;
}

.filter-nav {
  font-size: 0;
  min-width: 15px;
  min-height: 10px;
  background-image: url("../img/filter.svg");
  background-repeat: no-repeat;
  background-size: 15px, 10px;
  margin-right: 10px;
}

.filter-country__continent {
  @include reset-list;
  margin-bottom: 0;
  margin-top: 16px;
  margin-left: 14%;
}

.filter-country__continent li {
  margin-bottom: 6px;
}

.filter-country__continent li:last-child {
  margin-bottom: 0;
}

.filter-country__chosen {
  margin-bottom: 24px;
}

.filter-country__chosen a {
  @include fontBS(16px, normal, #444444);
}

.filter-country__continent--radio {
  @include fontBS (16px, bold, rgba(25, 33, 68, 0.3));
  text-transform: uppercase;
  line-height: 1.38;
}

// не могу понять страны это сылки или нет ?

.filter-country__continent--choose {
  display: none;
}

.filter-country__continent--choose:checked+.filter-country__continent--radio {
  color: #192144;
}

.filter-country__other {
  @include center;
  // display: none;
  padding-top: 21px;
}

.filter-country__other ul {
  @include reset-list;
}

.filter-country__chosen li {
  @include fontBS(16px, normal, #444444);
  line-height: 1.38;
}

.filter-country__other .filter-country__selection {
  width: 225px;
  height: 210px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 282px;
}

.filter-country__button p {
  @include reset-list;
  font-size: 16.5px;
}

.filter-country__selection--items,
.filter-country__selection--items button {
  width: 45px;
  height: 42px;
  border: 1px solid #cbced9;
  margin-bottom: -1px;
  margin-right: -1px;
}

.filter-country__selection button {
  @include fontBS (14px, 500, #1d2e5b);
  text-align: center;
  width: 100%;
  // height: 100%;
  text-transform: uppercase;
  background-color: white;
  border: 0 none;
  margin-bottom: 214px;
}

.filter-country__other .filter-country__button {
  background-color: #d6daed;
  margin-bottom: 27px;
}

.filter-country__button p::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background-image: url("../img/filter-close.svg");
  margin-right: 12px;
}


.filter-country__chosen--2,
.filter-country__chosen--3,
.filter-country__chosen--4,
.filter-country__chosen--5,
.filter-country__chosen--6,
.filter-country__chosen--7,
.filter-country__chosen--8,
.filter-country__chosen--9,
.filter-country__chosen--10,
.filter-country__chosen--11,
.filter-country__chosen--12,
.filter-country__chosen--13,
.filter-country__chosen--14,
.filter-country__chosen--15,
.filter-country__chosen--16,
.filter-country__chosen--17,
.filter-country__chosen--18,
.filter-country__chosen--19,
.filter-country__chosen--20,
.filter-country__chosen--21,
.filter-country__chosen--22,
.filter-country__chosen--23,
.filter-country__chosen--24 {
  display: none;
}

// ______________________________________________________________________

@media (min-width: $tablet-width) {
  .filter-country {
    padding-top: 60px;
    justify-content: center;
  }

  .filter-country__pushbutton--close,
  .filter-country__continent--radio {
    font-size: 20px;
    line-height: 20px;
  }

  .filter-country__chosen,
  .filter-country__continent .filter-country__continent--choose:checked+.filter-country__continent--radios {
    font-size: 20px;
  }

  .filter-country__main {
    display: none;
  }

  .filter-country__continent {
    width: 52%;
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-top: 2px;
    order: -1;
  }

  .filter-country__pushbutton {
    width: auto;
    align-self: baseline;
    padding-left: 52px;
  }

  .filter-country__pushbutton--close::after {
    width: 19px;
    height: 19px;
    margin-left: 37px;
  }

  .filter-country__selection--items {
    height: 44px;
    margin-right: 33px;
    margin-bottom: 40px;
    border: 0;
  }

  .filter-country__other .filter-country__selection {
    width: 400px;
    height: 400px;
    margin-bottom: 57px;
  }

  .filter-country__selection--items button {
    font-size: 60px;
    background-color: inherit;
    border: 0;
  }

  .filter-country__chosen a {
    font-size: 20px;
    line-height: 1.5;
  }

  .filter-country__other {
    width: 83%;
    align-items: start;
    padding-top: 51px;
  }

  .filter-country__other .filter-country__button {
    width: 100%;
    height: 100px;
  }

  .filter-country__selection button {
    margin: 0;
  }

  .filter-country__button p {
    font-size: 20px;
  }

  .filter-country__button p::before {
    width: 19px;
    height: 19px;
  }

  .filter-country__selection--items .filter-country__chosen {
    margin-left: 453px;
    margin-top: -57px;
  }

  .filter-country__chosen li {
    margin-bottom: 0;
    line-height: 1.5;
  }
}

// --------------------------для пк ------------------------
@media (min-width: $desktop-width) {
  .filter-country__selection--items .filter-country__chosen {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 55px;
  }

  .filter-country__selection--items {
    width: 205px;
    height: auto;
    margin-bottom: 0;
    margin-right: 40px;
    border: 0;
  }

  // .filter-country__selection--last {
  //   margin-bottom: 118px;
  // }

  // как сделать чтобы последня строка была без маргинов ?  +  пренаполнение

  .filter-country__selection button {
    font-size: 60px;
    text-align: left;
    margin-bottom: 53px;
    padding: 0;
  }

  .filter-country__chosen--2,
  .filter-country__chosen--3,
  .filter-country__chosen--4,
  .filter-country__chosen--5,
  .filter-country__chosen--6,
  .filter-country__chosen--7,
  .filter-country__chosen--8,
  .filter-country__chosen--9,
  .filter-country__chosen--10,
  .filter-country__chosen--11,
  .filter-country__chosen--12,
  .filter-country__chosen--13,
  .filter-country__chosen--14,
  .filter-country__chosen--15,
  .filter-country__chosen--16,
  .filter-country__chosen--17,
  .filter-country__chosen--18,
  .filter-country__chosen--19,
  .filter-country__chosen--20,
  .filter-country__chosen--21,
  .filter-country__chosen--22,
  .filter-country__chosen--23,
  .filter-country__chosen--24 {
    display: block;
  }

  .filter-country__main h2 {
    font-size: 20px;
  }

  .filter-nav {
    width: 23px;
    height: 15px;
    background-size: 100%;
  }

  .filter-country__pushbutton {
    width: 20%;
    height: 18px;
    margin-left: auto;
    align-self: center;
    margin-right: 7%;
  }

  .filter-country__pushbutton--close {
    display: inline-block;
    font-size: 20px;
  }

  .filter-country__chosen li {
    font-size: 20px;
    margin-bottom: 0;
  }

  .filter-country {
    padding-top: 42px;
    padding-bottom: 110px;
  }

  .filter-country__continent {
    width: 35%;
    display: flex;
    justify-content: space-between;
    margin: 0;
    order: -1;
  }

  .filter-country__main {
    width: 24%;
    display: flex;
    order: -2;
    margin-left: 5%;
  }

  .filter-country__continent li {
    margin-bottom: 0;
  }

  .filter-country__other {
    width: 92%;
    justify-content: center;
    align-items: center;
    padding-top: 61px;
  }

  .filter-country__other .filter-country__button {
    min-height: 100px;
    font-size: 20px;
  }

  .filter-country__button p::before {
    width: 18px;
    height: 18px;
  }

  .filter-country__pushbutton--close::after,
  .filter-country__pushbutton--open::after {
    margin-left: 64px;
    width: 18px;
    height: 18px;
  }

  .filter-country__other .filter-country__selection {
    width: 1250px;
    height: auto;
    margin-bottom: 16px;
    justify-content: space-between;
  }

  .filter-country__continent--radio {
    font-size: 20px;
  }

  .filter-country__continent--choose:checked+.filter-country__continent--radio {
    font-size: 20px;
  }
}
