.form-button {
  width: 230px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  @include shriftBS($fsize:17px, $fweight:bold, $color:#161c35);
  background-color: $indexButton;
}
