.selection {
  @include center;
  @include fontBS (16px, bold, #192144);
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  background-color: $indexButton;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.selection-companion {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.selection ul {
  @include reset-list;
}

.selection-companion h2 {
  @include fontBS (23px, bold, #1d2e5b);
  width: 50%;
}

.selection-companion legend {
  font-size: 0;
}

.selection-companion p {
  @include fontBS (16px, bold, #1d2e5b);
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

.selection-hobby__list,
.selection-musiс__list,
.selection-food__list {
  @include fontBS (16px, normal, #444444);
}

.selection__toggle {
  font-size: 0;
  border: none;
  width: 8px;
  min-height: 4px;
}

.selection-musiс__list li,
.selection-hobby__list li,
.selection-food__list li {
  margin-bottom: 12px;
}

.selection-companion .form-button {
  width: 85%;
  background-color: white;
  margin-bottom: 21px;
}

.selection-companion fieldset {
  width: 85%;
  border: 0;
}

.selection-musiс > input,
.selection-food > input,
.selection-transport > input,
.selection-lvl > input,
.selection-hobby__id {
  display: none;
}

.selection-musiс .selection-musiс--toggle,
.selection-food .selection-food--toggle,
.selection-transport .selection-transport--toggle,
.selection-lvl .selection-lvl--toggle,
.selection-hobby--toggle {
  width: 8px;
  min-height: 4px;
  display: inline-block;
  font-size: 0;
  background-image: url("../img/dropdown.svg");
  background-repeat: no-repeat;
  background-color: inherit;
}

.selection-transport__list li {
  background-color: white;
}

.selection-transport__list label {
  display: block;
  width: 100%;
  height: 100%;
}

.selection-hobby__id:checked ~ .selection-hobby__list {
  display: none;
}

.selection-hobby__id:checked ~ .selection-hobby__name .selection-hobby--toggle {
  transform: rotate(180deg);
}

.selection-musiс__id:checked ~ .selection-musiс__list {
  display: none;
}

.selection-musiс__id:checked ~ .selection-music__name .selection-musiс--toggle {
  transform: rotate(180deg);
}

.selection-food__id:checked ~ .selection-food__list {
  display: none;
}

.selection-food__id:checked ~ .selection-food__name .selection-food--toggle {
  transform: rotate(180deg);
}


.selection-transport__id:checked ~ .selection-transport__list {
  display: none;
}

.selection-transport__id:checked ~ .selection-transport__name .selection-transport--toggle {
  transform: rotate(180deg);
}

.selection-lvl__id:checked ~ .selection-lvl__controls {
  display: none;
}

.selection-lvl__id:checked ~ .selection-lvl__name .selection-lvl--toggle {
  transform: rotate(180deg);
}

.selection__bus:checked ~ .selection-transport__list .selection__bus--favorite {
  opacity: 0.2;
}

.selection__air:checked ~ .selection-transport__list .selection__air--favorite {
  opacity: 0.2;
}

.selection__cycle:checked ~ .selection-transport__list .selection__cycle--favorite {
  opacity: 0.2;
}

.selection__walk:checked ~ .selection-transport__list .selection__walk--favorite {
  opacity: 0.2;
}

.selection-lvl__controls {
  width: 80%;
}

.selection-lvl__range {
  position: relative;
  margin: 24px;
}

.selection-lvl__scale {
  min-height: 2px;
  background-color: #1d2e5b;
}

.selection-lvl__bar {
  width: 30%;
  background-color: red;
  // цвет временно
  min-height: 2px;
}

.selection-lvl__range--toogle {
  position: absolute;
  border-radius: 50%;
  background-color: #1d2e5b;
  width: 10px;
  height: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0;
}

// обсудить как назвать рэнджеры
.range--toogle-min {
  left: 30%;
}

.range--toogle-max {
  left: 100%;
  // ОБСудить как сделать так чтобы не выходил right: 5px; неработает- идей больше нет
}

.selection-lvl__input {
  @include fontBS (15px, bold, #1d2e5b);
  display: flex;
}

.selection-lvl__input input {
  width: 50%;
  border: 0;
  text-align: center;
}


// как сделать эту полосчку в середке ???
.selection-lvl__input input::after,
.lvl-end::before {
  content: " ";
  display: inline-block;
  width: 15px;
  height: 2px;
  background-color: brown;
}

.lvl-start {
  border: 1px solid red;
  border-right-width: 2px;
}

// ______________________для планшета___________________________

@media (min-width: $tablet-width) {
  .selection-musiс__list li,
  .selection-hobby__list li,
  .selection-food__list li {
    margin-bottom: 0;
    width: 33.3%;
  }

  .selection-companion {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .selection-companion fieldset {
    width: 94%;
  }

  .selection-lvl__input input {
    font-size: 20px;
    min-height: 46px;
    // надо ли это?
  }

  .selection-companion p {
    font-size: 20px;
  }

  .selection-hobby,
  .selection-musiс,
  .selection-food,
  .selection-transport,
  .selection-lvl {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .selection-hobby__list,
  .selection-musiс__list,
  .selection-food__list {
    width: 80%;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
  }

  .selection .selection-companion .selection-food__list {
    display: flex;
  }

  .selection-musiс .selection-musiс--toggle,
  .selection-food .selection-food--toggle,
  .selection-transport .selection-transport--toggle,
  .selection-lvl .selection-lvl--toggle,
  .selection-hobby--toggle {
    display: none;
  }

  .selection-transport__list .selection__walk--favorite,
  .selection-transport__list .selection__cycle--favorite,
  .selection-transport__list .selection__air--favorite,
  .selection-transport__list .selection__bus--favorite {
    width: 43px;
    height: 43px;
  }

  .selection-lvl__controls {
    display: flex;
    justify-content: space-between;
  }

  .selection-lvl__range {
    width: 40%;
  }

  .selection-lvl__input {
    width: 32%;
  }

  .selection-lvl {
    margin-bottom: 73px;
  }
}

// --------------------------для пк ------------------------
@media (min-width: $desktop-width) {
  .selection {
    width: 20%;
    align-self: baseline;
    margin-left: 85px;
  }

  .selection-companion h2 {
    width: 67%;
    font-size: 30px;
    margin-bottom: 15px;
  }

  .selection-companion fieldset {
    width: 85%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .selection-companion p {
    width: 100%;
  }

  .selection-transport .selection-transport__list {
    width: 100%;
  }

  .selection-lvl__controls {
    margin: auto;
    flex-direction: column-reverse;
  }

  .selection-lvl__input {
    font-size: 20px;
    margin-bottom: 24px;
  }

  .selection label {
    color: #444444;
    font-weight: normal;
  }

  .selection-companion {
    width: 285px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .selection-musiс .selection-musiс--toggle,
  .selection-food .selection-food--toggle,
  .selection-transport .selection-transport--toggle,
  .selection-lvl .selection-lvl--toggle,
  .selection-hobby--toggle {
    display: inline-block;
  }

  .selection-hobby__list,
  .selection-musiс__list,
  .selection-food__list {
    flex-direction: column;
  }

  .selection-musiс__list li,
  .selection-hobby__list li,
  .selection-food__list li {
    margin-bottom: 16px;
    width: 100%;
  }

  .selection-lvl__range,
  .selection-lvl__input {
    width: 100%;
  }

  .selection-lvl__range {
    margin: 0;
  }
}
