.form-button {
  @include margin-auto;
  @include fontBS($fsize:17px, $fweight:bold, $color:#161c35);
  width: 85%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: $indexButton;
  text-transform: uppercase;
  border: none;

  &:visited {
    color: rgba(29, 46, 91, 0.3);
    background-color: #ffbd30;
  }

  &:hover {
    background-color: #ffbd30;
  }
}

.teg {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.form,
.form .footer {
  background-color: #d4d9eb;
}

.form .autho,
.catalog .autho {
  display: none;
}

.white .autho {
  display: flex;
}

.form .page-header__slogan,
.catalog .page-header__slogan {
  display: none;
}

.catalog footer {
  background-color: #edeff6;
}

@media (min-width: $tablet-width) {
  .catalog .autho,
  .form .autho {
    display: flex;
  }

  // .catalog .page-header {
  //   background-color: #161c34;
  // }

  .country__item img {
    width: 35px;
    height: 24px;
    position: static;
    border-radius: 0;
  }

  .flag-reset::before {
    background-size: 17px;
    width: 17px;
    height: 17px;
  }
}

// --------------------------для пк ------------------------
@media (min-width: $desktop-width) {
  .form {
    background-color: #dfe3f0;
  }

  .country__item img {
    width: 35px;
    height: 24px;
    position: static;
    border-radius: 0;
  }
}
